res/*
data/*
templates/*
validation-results/*

*__pycache__/*
*/*__pycache__/*
Employee V2.xlsx
abc.xlsx
arpan.zip
arpan/*
data1/*
data2/*
issues investigation/*
tmp.py
validation-results older/*
validation-results--/*
validation-results-/*
validation-results-not-old/*
validation-results-old/*